<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="test" connectionString="data source=192.168.2.9\hjcdr;initial catalog=HJ.PDP.SHRJ.UT;persist security info=True;user id=sa;password=rjgcbzy2.9;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CFUnitModel" connectionString="data source=192.168.2.9\hjcdr;initial catalog=HJ.PDP.SHRJ.UT;persist security info=True;user id=sa;password=rjgcbzy2.9;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="KPIEntities" connectionString="metadata=res://*/KPIModel.csdl|res://*/KPIModel.ssdl|res://*/KPIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9;initial catalog=HJSDR_BJXH_20170303_TEST;persist security info=True;user id=sa;password=sa@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InGroupEntities" connectionString="metadata=res://*/InGroupModel.csdl|res://*/InGroupModel.ssdl|res://*/InGroupModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9;initial catalog=DEV.HJ.TEST;user id=sa;password=rhgcbzy2.9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TCEntities" connectionString="metadata=res://*/TCModel.csdl|res://*/TCModel.ssdl|res://*/TCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9\hjcdr;initial catalog=HJ.PDP;user id=sa;password=rjgcbzy2.9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CDREntities" connectionString="metadata=res://*/CDR.CDRModel.csdl|res://*/CDR.CDRModel.ssdl|res://*/CDR.CDRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9\hjcdr;initial catalog=HJ.CDR.SHRJ.DEV;persist security info=True;user id=sa;password=rjgcbzy2.9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UnitEntities" connectionString="metadata=res://*/Unit.UnitModel.csdl|res://*/Unit.UnitModel.ssdl|res://*/Unit.UnitModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9\hjcdr;initial catalog=DEV.HJ.UNITTEST;persist security info=True;user id=sa;password=rjgcbzy2.9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PDPEntities" connectionString="metadata=res://*/PDP.PDPModel.csdl|res://*/PDP.PDPModel.ssdl|res://*/PDP.PDPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9\HJCDR;initial catalog=HJ.PDP;user id=sa;password=rjgcbzy2.9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UTEntities" connectionString="metadata=res://*/Unit.UTModel.csdl|res://*/Unit.UTModel.ssdl|res://*/Unit.UTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9\hjcdr;initial catalog=HJ.PDP.SHRJ.UT;user id=sa;password=rjgcbzy2.9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>