<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="connStr" connectionString="Data Source=192.168.2.9\hjcdr;Initial Catalog=HJ.PDP;User ID=sa;Password=rjgcbzy2.9" providerName="System.Data.SqlClient"/>
  <add name="PDPEntities" connectionString="metadata=res://*/PDP.PDPModel.csdl|res://*/PDP.PDPModel.ssdl|res://*/PDP.PDPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9\HJCDR;initial catalog=HJ.PDP;user id=sa;password=rjgcbzy2.9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="UTEntities" connectionString="metadata=res://*/Unit.UTModel.csdl|res://*/Unit.UTModel.ssdl|res://*/Unit.UTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.9\hjcdr;initial catalog=HJ.PDP.SHRJ.UT;user id=sa;password=rjgcbzy20.9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
