@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KPI列表</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/layui/layui.js?v=11"></script>
    <script src="~/Content/framework/js/global.js"></script>
    <style>
        .layui-input, .layui-select, .layui-textarea {
            height: 30px;
            line-height: 30px;
            line-height: 36px\9;
            border: 1px solid #e6e6e6;
            background-color: #fff;
            border-radius: 2px;
        }
    </style>
</head>
<body>
    <div class="panel animated fadeIn">
        <div class="panel-body">
            <div id="toolbar" class="elight-table-toolbar">
                <div class="layui-btn-group" ></div>
                
                <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small">
                    <i class="layui-icon">&#xe615;</i>
                </button>
                <div class="toolbar-search-input">
                    <input type="text" id="keyWord" placeholder="请输入指标名称、编码" autocomplete="off" class="layui-input" style="width: 190px;">
                </div>
                <form id="form" class="layui-form" style="width: 450px; float: right;">
                    <div class="layui-inline" style="float: right;">
                        <label class="layui-form-label" style="top:-3px;">指标类别</label>
                        <div class="layui-input-inline" style="height:30px;">
                            <select id="SD_EKPI_CAT" name="SD_EKPI_CAT" lay-verify="required" style="height:30px;top:-10px;">
                                <option value="" style="height:30px;">请选择类别</option>
                                <option value="0">全部信息</option>
                                <option value="10000">基本信息</option>
                                <option value="10001">检查</option>
                                <option value="10002">检验</option>
                                <option value="10003">医嘱</option>
                                <option value="10004">病理</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <table id="gridList" class="layui-form layui-table table-hover elight-table" lay-skin="line">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" lay-skin="primary">
                        </th>
                        <th>指标代码</th>
                        <th>指标名称</th>
                        <th>指标简称</th>
                        <th>指标类别</th>
                        <th style="text-align:center">正负向</th>
                        <th>是否执行</th>
                    </tr>
                </thead>
                <!--内容容器-->
                <tbody id="content"></tbody>
            </table>
            <div id="paged"></div>
        </div>
    </div>
</body>
</html>

<!--内容模板-->
<script id="contentTpl" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
    <tr>
        <td>
            <input type="checkbox" lay-skin="primary" value="{{item.KPIID}}">
        </td>
        <td style="display:none">{{item.ProjectID}}</td>
        <td style="display:none">{{item.SDId}}</td>
        <td style="display:none">{{item.KPIID}}</td>
        <td>{{item.KPICode}}</td>
        <td>{{item.KPIName}}</td>
        <td>{{item.KPIAlias}}</td>
        <td>{{item.KPIType}}</td>
        <td style="text-align:center">
            {{# if(item.IsPositive==1){ }}+
            {{# }else if(item.IsPositive==0){ }}-
            {{# }else{ }}[未指定]
            {{# } }}
        </td>
        <td>{{item.IsExecuted}}</td>
       
    </tr>
    {{#  }); }}
    {{# if(d.list.length<=0) { }}
    <tr style="color: red">
        <td colspan="8">查无数据。</td>
    </tr>
    {{# } }}
</script>

<script type="text/javascript">
    var paging;
    layui.config({
        base: parent._baseUrl
    }).use(['paging', 'form', 'layer'], function () {
        var layer = parent.layer || layui.layer;
        var form = layui.form();
        paging = layui.paging();
        initGrid();
        $("#toolbar").authorizeButton();
        $('#btnSearch').click(initGrid);
        $('#keyWord').bindEnterEvent(initGrid);
    });

    function initGrid() {
        paging.init({
            url: '/TestCenterSystem/KPI/Index',
            elem: '#content',
            tempElem: '#contentTpl',
            params: {
                keyWord: $("#keyWord").val()+"_"+$("#SD_EKPI_CAT").val()
            },
            pageConfig: {
                elem: '#paged',
                pageSize: 10,
            },
            success: function () {

            }
        });
    }

    function btn_add() {
        $.layerOpen({
            id: "add",
            title: "新增KPI",
            width: "670px",
            height: "490px",
            content: "/TestCenterSystem/KPI/Form",
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }

    function btn_edit() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录修改。", "warning");
            return;
        }
        $.layerOpen({
            id: "edit",
            title: "修改KPI",
            width: "670px",
            height: "490px",
            content: "/TestCenterSystem/KPI/Form?primaryKey=" + ids[0],
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }

    function btn_manage() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录编辑公式。", "warning");
            return;
        }
        $.layerOpen({
            id: "edit",
            title: "编辑公式",
            width: "970px",
            height: "630px",
            content: "/TestCenterSystem/Formula/Form?primaryKey=" + ids[0],
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                //initGrid();
            }
        });
    }

    function btn_test() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录测试。", "warning");
            return;
        }
        $.layerOpen({
            id: "edit",
            title: "测试公式",
            width: "670px;",
            height: "630px",
            content: "/TestCenterSystem/KPI/Test?primaryKey=" + ids[0],
            btn: [],
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }

    function btn_delete() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length < 1) {
            $.layerMsg("请勾选需要删除的KPI。", "warning");
            return;
        }
        $.layerConfirm({
            content: "您已选中" + ids.length + "条数据, 确定删除吗？",
            callback: function () {
                $.formSubmit({
                    url: '/TestCenterSystem/KPI/Delete?primaryKey=' + ids[0],
                    success: function () {
                        initGrid();
                    }
                });
            }
        });
    }

    function btn_detail() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录查看。", "warning");
            return;
        }
        $.layerOpen({
            id: "detail",
            title: "查看KPI",
            width: "670px",
            height: "490px",
            content: "/TestCenterSystem/KPI/Form?primaryKey=" + ids[0],
            btn: null
        });
    }

    function btn_configure() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录配置。", "warning");
            return;
        }
        $.layerOpen({
            id: "configure",
            title: "配置KPI",
            width: "1000px",
            height: "618px",
            content: "/TestCenterSystem/KPI/Configure?primaryKey=" + ids[0],
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }

    function btn_exportsql() {
        $.ajax({
            type: "GET",  //提交方式
            url: "/TestCenterSystem/KPI/ExportSQL",
            data: {
                //primaryKey: $("#KPI_ID").val(),
                //startDate: $("#startDate").val(),
                //endDate: $("#endDate").val(),
                //patientNo: $("#patientNo").val(),
                //flag: event.target.id
            },//数据，这里使用的是Json格式进行传输
            success: function (result) {//返回数据根据结果进行相应的处理
                var obj = JSON.parse(result);
                if (obj.message == "无可导出数据！！！") {
                    top.layer.msg(obj.message);
                } else {
                    downloadFile(obj.message);
                    //window.open(obj.message);
                    //window.location.target = "_blank";
                    //window.location.href = obj.message;
                }

            }
        });
        
    }
    function downloadFile(url) {
        try {
            var elemIF = document.createElement("iframe");
            elemIF.src = url;
            elemIF.style.display = "none";
            document.body.appendChild(elemIF);
        } catch (e) {

        }
    }
</script>
